# Gradle
.gradle/
/build/
/captures/
.externalNativeBuild/
.cxx/
buildSrc/build/
local.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Kotlin
*.kotlin_module

# Kotlin Cache
buildSrc/build/kotlin/compileKotlin/
buildSrc/build/kotlin/compileKotlin/cacheable/

# Miscellaneous
*.class
*.jar
